$col_num:12;
$col_width:8.33%;
$media:(0,320,480,640,768,1025,1366);
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
ul,ol{
	margin-top:0;margin-bottom:0px;
	li{list-style:none;}
}
.clearfix{
	zoom:1;
	&:before,&:after{
		content:" ";display:table;
		clear:both;
	}
}
.text-hide{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.center-block{display:block;margin-left:auto;margin-right:auto;}
.text-center{text-align:center;}
.pull-right{float:right!important;}
.pull-left{float:left!important;}
.hide{display:none!important;}
.show{display:block!important;}
.img-responsive{display:block;max-width:100%;height:auto;}
.row{
	min-height:1px;
}
.row [class*="col"]{
	float:left;
	min-height:1px;
	width:100%;
}
@mixin col($media,$length){
	@if $media=="0" {
		@for $index from 1 through $length
		{
			.row .col-#{$index}
			{
				width:$index*$col_width;
			}
			.row .offset-#{$index}
			{
				margin-left:$index*$col_width;
			}
		}
	}@else {
		@for $index from 1 through $length
		{
			.row .col-#{$media}-#{$index}
			{
				width:$index*$col_width;
			}
			.row .offset-#{$media}-#{$index}
			{
				margin-left:$index*$col_width;
			}
		}
	}
}
@each $index in $media{
	@if $index==0 {
		@include col(#{$index},$col_num);
	}@else{
		@media (min-width:#{$index+1}px){
			@include col(#{$index},$col_num);
		}
	}
	
}
