@import '_mixin';
$col_num:12;
$media:(0,320,480,640,768,1024,1366);
html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
body{margin:0;}
ul,ol{
	margin-top:0;margin-bottom:0px;
	li{list-style:none;}
}
.clearfix{
	zoom:1;
	&:before,&:after{
		content:" ";display:table;
		clear:both;
	}
}
.center-block{display:block;margin-left:auto;margin-right:auto;}
.text-center{text-align:center;}
.pull-right{float:right!important;}
.pull-left{float:left!important;}
.hide{display:none!important;}
.show{display:block!important;}
.img-responsive{display:block;max-width:100%;height:auto;}
.row{
	min-height:1px;
}
.row [class*="col"]{
	float:left;
	min-height:1px;
	width:100%;
}
@each $index in $media{
	@if $index==0 {
		@include col(#{$index},$col_num);
	}@else{
		@media (min-width:#{$index+1}px){
			@include col(#{$index},$col_num);
		}
	}
}

@include responsive-init($media);

@each $index in $media{
	@if index($media,$index)==length($media){
		@include toggle(visible,$index,null);
		@include toggle(hidden,$index,null);
	}@else{
		@include toggle(visible,$index,nth($media,index($media,$index)+1));
		@include toggle(hidden,$index,nth($media,index($media,$index)+1));
	}
}
